<!-- Link to startpage.css stylesheet -->
<link rel="stylesheet" href="/css/startpage.css">

<!-- Heading and description section -->
<div id="stagePageHeading">
    <!-- Main heading -->
    <h1>Welcome</h1>
    <!-- Description text with black color -->
    <p style="color: black;">Time to build good habits</p>
</div>

<!-- Button section -->
<div id="stagePagebutton">
    <!-- Start button with id "startButton" -->
    <button id="startButton">Start</button>
</div>

<!-- Include start.js script -->
<script src="/js/start.js"></script>
